.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  .btn-color2{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imagem{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

